@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "National 2 Web", Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Georgia, Times, serif;
	--mono: Menlo, Consolas, Monaco, "Courier New", monospace;
	
	/* z-index */
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	/* presets */
	--border-radius: 4px;
	--font-body: var(--sans);
	--font-form: var(--sans);
	--color-bg: var(--color-white);
	--color-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);
  --color-link: var(--color-purple);
  --color-focus: var(--color-red);
  --color-form-bg: var(--color-gray-300);
	--color-form-fg: var(--color-gray-900);
	--color-border: var(--color-gray-300);
	--color-selection: var(--color-gray-300);
  --color-highlight: var(--color-yellow);
	
}

html, body, main, body > div {
	height: 100%;
	overflow: hidden;
}

main {
	padding: 1rem;
}

h1 {
	font-size: clamp(48px, 10vw, 96px);
	font-weight: bold;
	line-height: 1.1;
	margin: 1rem auto;
	max-width: 7em;
}

p {
	font-size: clamp(24px, 2vw, 36px);
	line-height: 1.4;
	margin: 1rem auto;
	max-width: 10em;
}

button, li, input {
	font-size: clamp(24px, 2vw, 36px);
}

small {
	font-size: clamp(14px, 1vw, 18px);
	line-height: 1;
}

button {
	border: 0.25em solid var(--color-fg);
}