@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "National 2 Web", Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Georgia, Times, serif;
	--mono: Menlo, Consolas, Monaco, "Courier New", monospace;
	
	/* z-index */
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	/* presets */
	--border-radius: 4px;
	--font-body: var(--serif);
	--font-form: var(--sans);
	--color-bg: var(--color-rose);
	--color-fg: var(--color-rose-dark);
	--color-placeholder: var(--color-rose-dark);
  --color-link: var(--color-rose-dark);
  --color-focus: var(--color-rose-medium);
  --color-form-bg: var(--color-rose-dark);
	--color-form-fg: var(--color-rose);
	--color-border: var(--color-rose-dark);
	--color-selection: var(--color-pink);
  --color-highlight: var(--color-pink);

	--color-good: var(--color-green);
	--color-bad: var(--color-rose-dark);
	--col-width: 45rem;
	
}

/* html, body, main, body > div {
	height: 100%;
	overflow: hidden;
} */

html {
  overflow-y: scroll;
	scroll-behavior: smooth;
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

main {
	font-size: clamp(18px, 2.5vw, 24px);
}

h1 {
	font-weight: bold;
	line-height: 1.1;
	margin: 1rem auto;
	max-width: var(--col-width);
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
	line-height: 1.1;
}

p, blockquote {
	line-height: 1.6;
	margin: 1rem auto;
	max-width: var(--col-width);
	font-size: 1.125em;
}

button, li, input {
	font-size: 1em;
}

small {
	font-size: 0.75em;
}

button, a {
	transform-origin: 50% 50%;
	transition: all 100ms ease-in-out;
	outline-offset: 3px;
}

button:hover {
	background: var(--color-rose-medium);
}

button:active {
	transform: scale(0.95);
}

button.jump {
	background: none;
	border: none;
	width: auto;
	height: auto;
	border-bottom: 0.1em solid currentColor;
	border-radius: 0;
	font-size: 1em;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

figure {
	font-family: var(--sans);
}

mark {
	border: 2px solid var(--color-border);
}